
.downshift{
  left: 5%;
  height:auto;
  margin-top: 15px;
  position: absolute;
  display: inline-block;
  z-index: 9999;
}

.MuiInput-underline:after {
  border-bottom-color: white !important
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 200px) {
  .downshift{
    left: 0%;
    top:10px;
    position: absolute;
    margin-left: 25px;
    margin-top: 0px !important;
    float:left;
    display: inline;
    z-index: 1;
  }
}
@media only screen and (min-width: 800px) {
  .downshift{
    left: 0%;
    top:10px;
    position: absolute;
    margin-left: 25px;
    margin-top: 0px !important;
    float:left;
    display: inline;
    z-index: 1;
  }
  .MuiFormControl-root{
    display: inline-block;
    width: 100%;
    margin-right: 15px;
  }
}
