h1 h3 {
  font-weight: lighter;
}

.userContainer{
  position: relative;
}
.menuitem{
  width: 80%;
  position: relative;
}
.galleryNameContainer{
  display: inline-block
}
.deleteGallery{
  height: 50px;
  display: inline-block;
  width: 15%;
}


@media only screen and (min-width: 200px) {
  .galleryNameContainer{
    width:80%;
    float: left;
  }
  .userContainer{
    width: 80%;
    left: 10%;
    right: 10%;
    position: relative;
  }
  .deleteGallery{
    height: 50px;
    display: inline-block;
    width: 15%;
    min-width: 0px !important;
  }
}
@media only screen and (min-width: 800px) {
  .userContainer{
    width: 40%;
    left: 30%;
    right: 30%;
  }
  .deleteGallery{
    height: 50px;
    display: inline-block;
    width: 15%;
  }
}
